	.layout_community .detailview_wrap {
    border-top: 2px solid #d6d6d6;
}


.layout_community .detailview_wrap .field_tit {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

.layout_community .detailview_wrap .field_regist {
    background: #fff;
    padding: 0 5px 33px 0;
    border-bottom: 2px solid #d6d6d6;
}

.layout_community .detailview_wrap .field_regist .item_wrap {
    float: right;
}

.layout_community .detailview_wrap .field_regist .item {
    float: left;
    margin-left: 30px;
    font-size: .875em;
}

.layout_community .detailview_wrap .field_regist .item dd, .layout_community .detailview_wrap .field_regist .item dt {
    float: left;
}

.layout_community .detailview_wrap .field_regist .item dd {
    margin-left: 20px;
    color: #777;
}

 .layout_community .detailview_wrap .field_content {
    /* max-width: 812px; */
    margin: 0 auto;
    padding: 30px 0;
    margin-left: 7%;
} 

.article_intro, .article_intro_wider, .entry_content {
    width: 100%;
    font-size: 18px;
    margin: 0 auto;
    padding-top: 20px;
    word-break: break-all;
    color: #000;
}

.layout_community .detailview_wrap .siblings_post {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 40px;
}

.layout_community .detailview_wrap .siblings_post .next, .layout_community .detailview_wrap .siblings_post .previous {
    padding: 20px 30px;
}

.layout_community .detailview_wrap .siblings_post dl {
    display: table;
}

.layout_community .detailview_wrap .siblings_post dd, .layout_community .detailview_wrap .siblings_post dt {
    display: table-cell;
}

.layout_community .detailview_wrap .siblings_post dd {
    width: 100%;
    position: relative;
    font-size: .9375em;
}

.layout_community .detailview_wrap .siblings_post dd p {
    position: absolute;
    top: 1px;
    left: 60px;
    right: 0;
    bottom: 0;
}

.layout_community .detailview_wrap .siblings_post dd p a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;
}

.layout_community .detailview_wrap .siblings_post .next {
    border-top: 1px solid #d6d6d6;
}

.layout_community .detailview_wrap .field_foot_btn {
    text-align: center;
}

.layout_community .detailview_wrap .field_foot_btn .link_list {
    display: inline-block;
    width: 125px;
    height: 53px;
    font-size: 1em;
    background-color: #f88b46;
    color: #fff;
    line-height: 51px;
    text-align: center;
    border-radius: 12px;
}

.layout_community .detailview_wrap .siblings_post dt {
    white-space: nowrap;
}