








<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">

<title>홈페이지 : 커뮤니티</title>
	


<link rel="stylesheet" type="text/css"  href="../../css/board/board.css">
<link rel="stylesheet" type="text/css"  href="../../css/board/boardRead.css">




</head>
<body>
   	    <!-- header -->
		<main id="omcContainer" class="cont_main">
			
			<!-- aside --> 
			
			<!-- aside -->
	    	
			<div id="cMain">
				<article id="mContent" class="layout_community">
					<header class="head_banner">
						<div class="hero"><img src="../../images/board/img_notice_banner_pc.jpg" alt="공지사항 배경 이미지 입니다." class="img_rwd"></div>
						<div class="layer">
							<h1 class="tit_comm">Notice</h1>
							<p class="txt_comm">다양한 소식을 알려드립니다.</p>
						</div>
					</header>
				
					<div class="cont_comm">
						<div class="box_comm">
							<div class="detailview_wrap">
								<div class="field_tit">[모집] 2018제주 뿔난 말 크라우드펀딩 (~8/9)</div>
		
								<div class="field_regist">
									<div class="item_wrap">
										<div class="item">
											<dl>
												<dt>등록일</dt>
												<dd>2018-08-02</dd>
											</dl>
										</div>
										<div class="item">
											<dl>
												<dt>등록자</dt>
												<dd>관리자</dd>
											</dl>
										</div>
									</div>
								</div>
		
								<div class="field_content article_intro">
									
									<p><img src="../../images/board/editorImg_20180803075714896.jpg" alt="" width="800" height="1676" /></p>
									
									<!-- <p style="text-align:center;"><img src="/omc/asset/images/img_notice_temp1.jpg" alt=""></p> -->
								</div>
								
								
								
		
								<div class="siblings_post">
									<div class="previous">
										<dl>
											<dt>이전글</dt>
											
												
													<dd>
														<p><a href="">[이벤트] 이벤트 게시글1 </a></p>
													</dd>
												
												
											
										</dl>
									</div>
									
									<div class="next">
										<dl>
											<dt>다음글</dt>
											
												
												
													<dd>
														<p>다음글이 없습니다.</p>
													</dd>
												
											
										</dl>
									</div>
								</div>
		
								<div class="field_foot_btn">
									<a href="board.jsp" class="link_list">목록</a>
									<a href="boardUpdate.html" class="link_list">글 수정하기</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</main>



    </div>
</body>
</html>